openapi: 3.0.3
info:
  title: "LOS Pricing API"
  description: ""
  version: "1.0.0"
servers:
- url: https://supply.agoda.com
security: []
paths:
  /api/rate/fplos:
    post:
      summary: Set LOS Pricing
      operationId: route
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetLosRateRequest'
      responses:
        200:
          description: Create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetLosRateResponse'
        500:
          description: Internal server error
  /api/rate/fplos/read:
    post:
      summary: Get LOS Pricing
      operationId: getRoute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetLosRateRequest'
      responses:
        200:
          description: Create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLosRateResponse'
        500:
          description: Internal server error
components:
  schemas:
    Error:
      required:
      - code
      type: object
      properties:
        code:
          type: integer
          format: int32
        desc:
          type: string
    SetLosRateResponse:
      required:
      - errors
      - status
      type: object
      properties:
        status:
          type: string
        tuid:
          type: string
        errors:
          required:
          - empty
          type: array
          properties:
            empty:
              type: boolean
            traversableAgain:
              type: boolean
          items:
            $ref: '#/components/schemas/Error'
    DateRange:
      required:
      - start
      type: object
      properties:
        start:
          type: string
        end:
          type: string
    Occupancy:
      type: object
      properties:
        min:
          type: integer
          format: int32
        max:
          type: integer
          format: int32
    Price:
      required:
      - occupancy
      - value
      type: object
      properties:
        los:
          type: integer
          format: int32
        value:
          type: number
          format: double
        occupancy:
          $ref: '#/components/schemas/Occupancy'
    Rate:
      required:
      - prices
      type: object
      properties:
        currency:
          type: string
        prices:
          required:
          - empty
          type: array
          properties:
            empty:
              type: boolean
            traversableAgain:
              type: boolean
          items:
            $ref: '#/components/schemas/Price'
    RateRestriction:
      type: object
      properties:
        closed:
          type: boolean
        cta:
          type: boolean
        ctd:
          type: boolean
        minStay:
          type: integer
          format: int32
        maxStay:
          type: integer
          format: int32
        minStayThrough:
          type: integer
          format: int32
        minAdvPurchase:
          type: integer
          format: int32
        maxAdvPurchase:
          type: integer
          format: int32
        losRestriction:
          type: string
    SetLosRateRequest:
      required:
      - dateRange
      - propertyId
      - rate
      type: object
      properties:
        propertyId:
          type: integer
          format: int32
        roomId:
          type: integer
          format: int32
        ratePlanId:
          type: integer
          format: int32
        dateRange:
          $ref: '#/components/schemas/DateRange'
        rate:
          $ref: '#/components/schemas/Rate'
    GetLosRateResponse:
      required:
      - dateRange
      - propertyId
      - rates
      type: object
      properties:
        propertyId:
          type: integer
          format: int32
        roomId:
          type: integer
          format: int32
        ratePlanId:
          type: integer
          format: int32
        dateRange:
          $ref: '#/components/schemas/DateRange'
        rates:
          type: array
          properties:
            empty:
              type: boolean
            traversableAgain:
              type: boolean
          items:
            $ref: '#/components/schemas/LosRate'
    LosRate:
      required:
      - rate
      type: object
      properties:
        allotmentDate:
          type: string
        rate:
          $ref: '#/components/schemas/Rate'
        restriction:
          $ref: '#/components/schemas/RateRestriction'
    GetLosRateRequest:
      required:
      - dateRange
      - propertyId
      type: object
      properties:
        propertyId:
          type: integer
          format: int32
        roomId:
          type: integer
          format: int32
        ratePlanId:
          type: integer
          format: int32
        dateRange:
          $ref: '#/components/schemas/DateRange'
        los:
          $ref: '#/components/schemas/Los'
    Los:
      type: object
      properties:
        start:
          type: integer
          format: int32
        end:
          type: integer
          format: int32